@import url('../../helpers/buttonBaseRoot.css');
@import url('../../helpers/buttonColorText.css');
@import url('../../helpers/buttonColorFilled.css');
@import url('../../helpers/buttonColorOutlined.css');

.root {
  padding: 10px 20px;
}

.sizeLarge {
  font-size: 14px;
  padding: 14px 20px;
}

.sizeMedium {
  font-size: 14px;
  padding: 10px 20px;
}

.sizeSmall {
  font-size: 12px;
  padding: 6px 10px;
}

.fullWidth {
  width: 100%;
}

.shadow {
  box-shadow: 
    rgb(101 119 134 / 20%) 0px 0px 8px, 
    rgb(101 119 134 / 25%) 0px 1px 3px 1px;
}

.labelRoot {
  display: inherit;
  flex-direction: row;
  align-items: center;
}

.labelRootVertical {
  flex-direction: column;
}

.label {
  line-height: 1;
}

.iconLeft {
  display: inherit;
  margin-right: 8px;
  margin-bottom: 0;
}

.iconLeftVertical {
  margin-right: 0;
  margin-bottom: 4px;
}

.iconRight {
  display: inherit;
  margin-top: 0;
  margin-left: 8px;
}

.iconRightVertical {
  margin-top: 4px;
  margin-left: 0;
}
