@import url('../../helpers/variables.css');

.root {
  display: inline-flex;
}

.label {
  user-select: none;
  position: relative;
  display: inline-flex;
  font-size: inherit;
}

.alignCenter {
  align-items: center;
}

.children {
  display: block;
  margin-left: 10px;
  line-height: inherit;
}

.icon {
  width: 18px;
  height: 18px;
  background-color: var(--green-primary);
  border-radius: 2px;
  border: 1px solid #666;
  display: block;
  line-height: 0.9em;
  flex-shrink: 0;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.tick {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.tick::before,
.tick::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
  transform-origin: left;
}

.tick::before {
  width: 0;
  height: 2px;
  transform: translate(1.4px, 7px) rotate(45deg);
  transition: all 150ms;
  transition-delay: 250ms;
}

.tick::after {
  width: 0;
  height: 2px;
  transform: translate(5px, 12px) rotate(-45deg);
  transition: all 150ms;
  transition-delay: 0ms;
}

.input {
  margin: 0;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.input:checked + .label > .icon {
  border-color: var(--green-primary);
}

.input:checked + .label > .icon::before {
  transform: scale(0);
}

.input:checked + .label > .icon > .tick::before {
  width: 7px;
  transition-delay: 0ms;
}

.input:checked + .label > .icon > .tick::after {
  width: 13px;
  transition-delay: 150ms;
}

.input:disabled + .label > .icon {
  border-color: #c8c8c8;
}
