.root {
  background-color: rgba(0, 0, 0, 0.87);
  padding: 14px 16px;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
}

.message {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  display: inline-flex;
  flex-grow: 1;
}

.adornment {
  display: inline-flex;
  margin-right: 8px;
}
